<section>
  <header class="bg-linear-to-br from-primary-700 to-primary-400 h-60">
    <div class="p-9">
      <div class="links text-white">
        <a routerLink="/" class="hover:underline duration-300">
          {{ 'allProducts.breadcrumb.home' | translate }}
        </a>
        /
        <a
          routerLink="/allProduct"
          class="text-white/60 hover:text-white hover:underline duration-300"
        >
          {{ 'allProducts.breadcrumb.allProducts' | translate }}
        </a>
      </div>

      <div class="flex items-center gap-4 p-6 rounded-2xl text-white">
        <!-- icon box -->
        <div class="bg-white/20 p-4 rounded-xl">
          <i class="fa-solid fa-box-open text-white text-xl"></i>
        </div>

        <!-- text -->
        <div>
          <h1 class="text-3xl font-bold">
            {{ 'allProducts.header.title' | translate }}
          </h1>
          <p class="text-white/80">
            {{ 'allProducts.header.subtitle' | translate }}
          </p>
        </div>
      </div>
    </div>
  </header>

  <main class="p-3">
    <span class="px-2 text-primary-700 font-semibold">
      {{ 'allProducts.main.label' | translate }}
    </span>

    <div class="grid grid-cols-4 gap-6">
      @for (product of productList(); track product.id) {
        <app-product-card [product]="product" />
      }
    </div>
  </main>
</section>
