<section class="py-20 bg-linear-to-br from-slate-50 via-white to-slate-200">
  <div class="container mx-auto px-4">
    <!-- TITLE -->
    <div class="border-l-4 border-emerald-600 pl-4 mb-12">
      <h2 class="text-4xl font-extrabold text-gray-800 tracking-tight">
        {{ 'brands.title' | translate }}

        <span class="block text-emerald-600 text-lg mt-2 font-medium">
          {{ 'brands.subtitle' | translate }}
        </span>
      </h2>
    </div>

    <!-- SEARCH -->
    <div class="mb-10">
      <input
        type="text"
        [placeholder]="'brands.search.placeholder' | translate"
        class="w-full md:w-1/2 px-5 py-3 rounded-xl border border-gray-200 shadow-sm focus:outline-none focus:ring-2 focus:ring-emerald-500"
      />
    </div>

    <!-- BRANDS GRID -->
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
      @for (brand of brandList; track brand._id) {
        <div
          [routerLink]="['/brandproducts', brand._id]"
          class="group bg-white rounded-2xl p-6 flex flex-col items-center shadow-sm hover:shadow-xl transition-all duration-500 hover:-translate-y-2 border border-gray-100 cursor-pointer"
        >
          <!-- LOGO -->
          <div
            class="w-20 h-20 flex items-center justify-center rounded-full bg-linear-to-br from-emerald-100 to-emerald-50 group-hover:from-emerald-200 group-hover:to-emerald-100 transition mb-4"
          >
            <img
              [src]="brand.image"
              class="w-12 h-12 object-contain transition-transform rounded-full duration-500 group-hover:scale-110"
              [alt]="brand.slug"
            />
          </div>

          <!-- NAME -->
          <h3
            class="text-sm font-semibold text-gray-700 group-hover:text-emerald-600 transition text-center"
          >
            {{ brand.name }}
          </h3>

          <!-- LINE -->
          <div
            class="h-0.5 w-0 bg-emerald-500 mt-3 group-hover:w-10 transition-all duration-300 rounded-full"
          ></div>
        </div>
      }
    </div>
  </div>
</section>
